{% extends 'includes/global_layout.twig' %}
{% block fonts %}
{{ parent() }}
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Noto+Serif:400,700">
{% endblock %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ url('assets', 'js/owl-carousel/owl.carousel.css') }}">
<link rel="stylesheet" href="{{ url('assets', 'js/owl-carousel/owl.theme.css') }}">
{% endblock %}
{% block title %}
{{ config.siteName }}
{% endblock %}
{% block content %}
{% if config.carouselItems is not empty %}
<div id="slider" class="owl-carousel owl-theme">
  {% for item in config.carouselItems %}
  <div class="item">
    <img src="{{ item.img }}" alt="{{ item.headline }}">
  </div>
  {% endfor %}
</div>
<!-- Uncomment this if you prefer Bootstrap's Carousel
<div id="carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    {% for item in config.carouselItems %}
    <li data-target="#carousel" data-slide-to="{{ loop.index0 }}"{% if loop.first %} class="active"{% endif %}></li>
    {% endfor %}
  </ol>
  <div class="carousel-inner">
    {% for item in config.carouselItems %}
    <div class="item{% if loop.first %} active{% endif %}">
      <img src="{{ item.img }}" alt="{{ item.headline }}">
      {% if item.headline is not empty or item.text is not empty or item.button is not empty %}
      <div class="container">
        <div class="carousel-caption">
          {% if item.headline is not empty %}<h1>{{ item.headline }}</h1>{% endif %}
          {% if item.text is not empty %}<p>{{ item.text }}</p>{% endif %}
          {% if item.button is not empty %}<p><a class="btn btn-lg btn-primary" href="{{ item.button.link }}" role="button">{{ item.button.text }}</a></p>{% endif %}
        </div>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  <a class="left carousel-control" href="#carousel" role="button" data-slide="prev"></a>
  <a class="right carousel-control" href="#carousel" role="button" data-slide="next"></a>
</div> -->
{% endif %}
<div class="container">
  <div class="row">
    {% include 'includes/flash.twig' %}
    <div class="col-md-4 col-md-push-8">
      <section id="status" class="servers">
        <h2>{{ lang('SERVER_STATUS') }}</h2>
        <hr>
        {% if manager.servers is not empty %}
        {% for server in manager.servers|slice(0, 5) %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><a href="{{ url('server', server.id, server.slug) }}">{{ server.name }}</a></h3>
          </div>
          <div class="panel-body text-center">
            <pre class="server-ip">{{ server.ip }}</pre>
            {% if server.motd is not empty %}
            <div class="alert alert-success server-status">{{ lang('ONLINE')|upper }}</div>
            {% if server.infos.players is not empty %}
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{ server.infos.players|length }}" aria-valuemin="0" aria-valuemax="{{ server.infos.maxPlayers }}" style="width: {{ (server.infos.players|length / server.infos.maxPlayers) * 100 }}%;">
                <span class="sr-only">{{ lang('PLAYERS_ONLINE', server.infos.players|length) }}</span>
              </div>
            </div>
            <p>{{ lang('PLAYERS_ONLINE', server.infos.players|length) }}</p>
            {% for player in server.infos.players %}
            <a href="{{ url('player', player.name) }}" title="{{ player.name }}"><img src="//minotar.net/avatar/{{ player.name }}/32" width="32" alt="{{ player.name }}"></a>
            {% endfor %}
            {% endif %}
            {% else %}
            <div class="alert alert-danger server-status">{{ lang('OFFLINE')|upper }}</div>
            {% endif %}
          </div>
        </div>
        {% endfor %}
        {% else %}
        <p>{{ lang('NO_SERVER') }}</p>
        {% endif %}
      </section>
      <section id="vote" class="box">
        <h2>{{ lang('VOTE_FOR', config.siteName) }}</h2>
        <hr>
        {% for site in config.voteSites %}
        <div class="vote-site">
          <a href="{{ site.url }}"><img src="{{ site.logo }}" class="img-responsive" alt="{{ site.name }}"></a>
        </div>
        {% endfor %}
      </section>
    </div> <!-- .col-md-4 -->
    <div class="col-md-8 col-md-pull-4">
      <section id="blog">
        {% if blog.articles is not empty %}
        {% for article in blog.articles|slice(0, 5) %}
        <article class="blog-article box">
          <div class="blog-article-header">
            <h2 class="blog-article-title"><a href="{{ url('article', article.id, article.slug) }}">{{ article.title }}</a></h2>
            <p class="blog-article-meta">{{ lang('POSTED') }} <time class="timeago" datetime="{{ article.publicationDate|date('Y-m-d\\TH:i:sP') }}">{{ article.publicationDate|date('F j, Y') }}</time> {{ lang('BY')|lower }} <a href="{{ url('player', article.author.username|lower) }}" class="btn btn-default"><img src="//minotar.net/avatar/{{ article.author.minecraftUsername }}/32" width="16" class="author-avatar" alt="{{ article.author.username }}">{{ article.author.username }}</a></p>
            <img src="{{ article.image }}" width="940" class="blog-article-image img-responsive" alt="{{ article.name }}">
          </div>
          <div class="blog-article-content">
            <p>{{ article.extract }}</p>
          </div>
          <p><a href="{{ url('article', article.id, article.slug) }}" class="read-more">{{ lang('READ_MORE') }}</a></p>
        </article> <!-- /.blog-post -->
        {% endfor %}
        <a href="{{ url('blog') }}" class="btn btn-block btn-default">{{ lang('SEE_ALL_ARTICLES') }}</a>
        {% else %}
        <p>{{ lang('NO_ARTICLE') }}</p>
        {% endif %}
      </section> <!-- #blog -->
    </div> <!-- .col-md-8 -->
  </div> <!-- .row -->
</div> <!-- .container -->
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.0/jquery.timeago.min.js"></script>
<script src="//raw.githubusercontent.com/rmm5t/jquery-timeago/master/locales/jquery.timeago.{{ config.language }}.js"></script>
<script>jQuery(document).ready(function(){jQuery("time.timeago").timeago()})</script>
<script src="{{ url('assets', 'js/owl-carousel/owl.carousel.min.js') }}"></script>
<script>
$(document).ready(function() {
  $("#slider").owlCarousel({
    navigation : false,
    slideSpeed : 300,
    paginationSpeed : 400,
    singleItem:true
  });
});
</script>
{% endblock %}