{% spaceless %}
{# I am adding this comment because my editor doesn't recognize the Twig syntax otherwise… #}
<!DOCTYPE html>
<html lang="{% if config.language is not empty %}{{ config.language|lower }}{% else %}en{% endif %}">
<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>{% block title %}{% if pageTitle is not empty %}{{ pageTitle ~ ' | ' ~ config.siteName|capitalize }}{% elseif config.siteName is not empty %}{{ config.siteName }}{% else %}Minicraft{% endif %}{% endblock %}</title>
  <link rel="icon" type="image/png" href="favicon.png">
  <meta name="description" content="{{ config.siteDescription }}">
  <meta name="keywords" content="{{ config.keywords }}">
  <meta name="author" content="Charles Tatibouët">
  {% block fonts %}
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url('assets', 'css/bootstrap.min.css') }}">
  {% endblock %}{# end fonts block #}
  {% block stylesheets %}
  <link rel="stylesheet" href="{{ url('assets', 'css/global.css') }}">
  {% endblock %}{# end stylesheets block #}
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="{{ url('assets', 'js/modernizr.js') }}"></script>
  {% endblock %}{# end head block #}
</head>
<body>
  {% block body %}
  {% block header %}
  {% block nav %}
    <div class="navbar navbar-static-top navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">{{ lang('TOGGLE_NAVIGATION') }}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{{ config.siteName|capitalize }}</a>
        </div>
        <nav class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% for item in config.menuItems %}
            {% if item.url is iterable %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ item.name }} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                {% for dropdown in item.url %}
                {% if dropdown.url == 'dropdown-divider' %}
                <li class="divider"></li>
                {% else %}
                <li><a href="{{ dropdown.url }}">{{ dropdown.name }}</a></li>
                {% endif %}
                {% endfor %}
              </ul>
            </li>
            {% else %}
            <li{% if currentUri starts with item.url %} class="active"{% endif %}><a href="{{ item.url }}">{{ item.name }}</a></li>
            {% endif %}
            {% endfor %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.rank.force == 100 %}
            <li{% if currentUri starts with '/admin' %} class="active"{% endif %}><a href="{{ url('admin') }}">{{ lang('ADMIN_PANEL') }}</a></li>
            {% endif %}
            {% if user is empty %}
            <li><a href="{{ url('register') }}" class="visible-xs">{{ lang('REGISTER') }}</a></li>
            <li><a href="{{ url('login') ~ '?' ~ {'from': currentUri}|url_encode }}" class="visible-xs">{{ lang('LOGIN') }}</a></li>
            <li><a data-toggle="modal" href="#modal-register" class="hidden-xs">{{ lang('REGISTER') }}</a></li>
            <li><a data-toggle="modal" href="#modal-login" class="hidden-xs">{{ lang('LOGIN') }}</a></li>
            {% else %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ lang('MY_ACCOUNT') }} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url('profile') }}">{{ lang('PROFILE') }}</a></li>
                {% if config.isActive('store') %}<li><a href="{{ url('vault') }}">{{ lang('VAULT') }}</a></li>{% endif %}
                <li class="li-danger">
                  <div class="container-fluid">
                    <form action="{{ url('logout') }}" method="post" role="form">
                      <input type="hidden" name="logout[from]" value="{{ currentUri }}">
                      <button type="submit" class="">{{ lang('LOGOUT') }}</button>
                    </form>
                  </div>
                </li>
              </ul>
            </li>
            {% endif %}
          </ul> <!-- .navbar-right -->
        </nav> <!-- .nav-collapse -->
      </div> <!-- .container-fluid -->
    </div> <!-- .navbar -->
    {% endblock %}{# end nav block #}
    {% endblock %}{# end header block #}
    {% block main %}{% endblock %}{# end main block #}
    {% block modals %}
    {% if user is empty %}
    <div id="modal-register" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <form action="{{ url('register') }}" method="post" role="form" class="form-horizontal">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
              <h4 class="modal-title">{{ lang('REGISTER') }}</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="modal-register-username" class="col-lg-4 control-label">{{ lang('USERNAME') }}</label>
                <div class="col-lg-8">
                  <input id="modal-register-username" class="form-control" type="text" name="register[username]">
                </div>
              </div>
              <div class="form-group">
                <label for="modal-register-password" class="col-lg-4 control-label">{{ lang('PASSWORD') }}</label>
                <div class="col-lg-8">
                  <input id="modal-register-password" class="form-control" type="password" name="register[password]">
                </div>
              </div>
              <div class="form-group">
                <label for="modal-register-email" class="col-lg-4 control-label">{{ lang('EMAIL') }}</label>
                <div class="col-lg-8">
                  <input id="modal-register-email" class="form-control" type="email" name="register[email]">
                </div>
              </div>
            </div>
            <input type="hidden" name="register[from]" value="{{ currentUri }}">
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">{{ lang('BTN_CLOSE') }}</button>
              <button type="submit" class="btn btn-primary">{{ lang('BTN_REGISTER') }}</button>
            </div>
          </form>
        </div> <!-- .modal-content -->
      </div> <!-- .modal-dialog -->
    </div> <!-- #modal-register -->
    <div id="modal-login" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="tab-content">
          <div id="login-tab" class="tab-pane fade in active">
            <div class="modal-content">
              <form action="{{ url('login') }}" method="post" class="form-horizontal" role="form">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                  <h4 class="modal-title">{{ lang('LOGIN') }}</h4>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="modal-login-username" class="col-lg-4 control-label">{{ lang('USERNAME') }}</label>
                    <div class="col-lg-8">
                      <input id="modal-login-username" class="form-control" type="text" name="login[username]">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="modal-login-password" class="col-lg-4 control-label">{{ lang('PASSWORD') }}</label>
                    <div class="col-lg-8">
                      <input id="modal-login-password" class="form-control" type="password" name="login[password]">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-offset-4 col-lg-8">
                      <div class="checkbox">
                        <label><input type="checkbox" name="login[remember]" checked=""> {{ lang('STAY_LOGGED_IN') }}</label>
                      </div>
                    </div>
                  </div>
                </div>
                <input type="hidden" name="login[from]" value="{{ currentUri }}">
                <div class="modal-footer">
                  <a href="#forgot-tab" data-toggle="tab" class="pull-left btn btn-default">{{ lang('BTN_FORGOT_PASSWORD') }}</a>
                  <button type="button" class="btn btn-default" data-dismiss="modal">{{ lang('BTN_CLOSE') }}</button>
                  <button type="submit" class="btn btn-primary">{{ lang('BTN_LOGIN') }}</button>
                </div>
              </form>
            </div> <!-- .modal-content -->
          </div> <!-- #login-tab -->
          <div id="forgot-tab" class="tab-pane fade">
            <div class="modal-content">
              <form action="{{ url('reset') }}" method="post" role="form">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                  <h4 class="modal-title">{{ lang('RESET_YOUR_PASSWORD') }}</h4>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-offset-2 col-md-8">
                        <label for="modal-reset-password" class="control-label">{{ lang('USERNAME_OR_EMAIL') }}</label>
                        <input id="modal-reset-password" class="form-control" type="text" name="account">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <a href="#login-tab" data-toggle="tab" class="pull-left btn btn-default">{{ lang('LOGIN') }}</a>
                  <button type="button" class="btn btn-default" data-dismiss="modal">{{ lang('BTN_CLOSE') }}</button>
                  <button type="submit" class="btn btn-primary">{{ lang('BTN_RESET') }}</button>
                </div>
              </form>
            </div> <!-- .modal-content -->
          </div> <!-- #forgot-tab -->
        </div> <!-- .tab-content -->
      </div> <!-- .modal-dialog -->
    </div> <!-- #modal-login -->
    {% endif %}
    {% endblock%}{# end modals block #}
  <footer>
  {% block footer %}
    <p><a href="#">{{ lang('BACK_TO_TOP') }}</a></p>
    <p>Charles Tatibouët &copy; {{ 'now'|date('Y') }}</p>
    <p>Powered by <a href="http://minicraft.io">Minicraft CMS</a> and <a href="http://ticraft.fr">Ticraft</a></p>
  {% endblock %}{# end footer block #}
  </footer>
  {% block javascripts %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script>$('#modal-login').on('shown.bs.modal', function () {$('#modal-login-username').focus()})</script>
  <script>$('#modal-register').on('shown.bs.modal', function () {$('#modal-register-username').focus()})</script>
  <script>!function(e,t,n,r,i){r=e[r]=e[r]||function(){(r.q=r.q||[]).push(arguments)};i=t.createElement(n);n=t.getElementsByTagName(n)[0];i.src="//d1l6p2sc9645hc.cloudfront.net/tracker.js";n.parentNode.insertBefore(i,n)}(window,document,"script","_gs");_gs("GSN-923525-U")</script>
  {% endblock %}{# end javascript block #}
  {% endblock %}{# end body block #}
</body>
</html>
{% endspaceless %}