{% if flash.flashes is not empty %}
{% if flash.successFlashes is not empty %}
<div class="alert alert-success alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  {% if flash.successFlashes|length > 1 %}
  <ul>
    {% for message in flash.successFlashes %}
    <li>{{ message|raw }}</li>
    {% endfor %}
  </ul>
  {% else %}
  {{ flash.successFlashes[0]|raw }}
  {% endif %}
</div>
{% endif %}

{% if flash.infoFlashes is not empty %}
<div class="alert alert-info alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  {% if flash.infoFlashes|length > 1 %}
  <ul>
    {% for message in flash.infoFlashes %}
    <li>{{ message|raw }}</li>
    {% endfor %}
  </ul>
  {% else %}
  {{ flash.infoFlashes[0]|raw }}
  {% endif %}
</div>
{% endif %}

{% if flash.warningFlashes is not empty %}
<div class="alert alert-warning alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  {% if flash.warningFlashes|length > 1 %}
  <ul>
    {% for message in flash.warningFlashes %}
    <li>{{ message|raw }}</li>
    {% endfor %}
  </ul>
  {% else %}
  {{ flash.warningFlashes[0]|raw }}
  {% endif %}
</div>
{% endif %}

{% if flash.dangerFlashes is not empty %}
<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  {% if flash.dangerFlashes|length > 1 %}
  <ul>
    {% for message in flash.dangerFlashes %}
    <li>{{ message|raw }}</li>
    {% endfor %}
  </ul>
  {% else %}
  {{ flash.dangerFlashes[0]|raw }}
  {% endif %}
</div>
{% endif %}
{% endif %}