<!doctype html>
<html lang="{% if config.language|length > 0 %}{{ config.language }}{% else %}en{% endif %}">
  <head>
    <meta charset="utf-8">
    <title>{% if page_title is defined and page_title is not empty %}{{ page_title }} | {{ config.siteName|capitalize }}{% else %}Minicraft{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url('assets', 'js/select2/select2.css') }}">
    <link rel="stylesheet" href="{{ url('assets', 'js/select2/select2-bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url('assets', 'css/style.css') }}">
    <link rel="icon" type="image/png" href="/favicon.png">
    <!-- HTML5 shiv -->
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    
    <div class="container">
    
      <div class="row">
      
        <div class="col-md-12">
        
          {% include 'includes/flash.twig' %}
          
          <form role="form" method="post" action="{{ url('action', 'ranks', 'add') }}">
            <div class="form-group">
              <label for="rank-name">Name</label>
              <input type="text" name="rank-name" id="rank-name" class="form-control" placeholder="Enter title">
            </div>
            <div class="form-group">
              <label for="rank-force">Force</label>
              <input type="number" name="rank-force" id="rank-force" class="form-control" placeholder="Enter force">
            </div>
                        
            <div class="form-group">
              <button type="submit" class="btn btn-default">Save</button>
            </div>
          </form>
          
          <hr>
        
        </div>  <!-- /.col-md-12 -->
      
      </div> <!-- /.row -->
    
    </div> <!-- /.container -->

    <!-- Javascript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </body>
</html>
