<!doctype html>
<html lang="{% if config.language|length > 0 %}{{ config.language }}{% else %}en{% endif %}">
  <head>
    <meta charset="utf-8">
    <title>{% if title is defined and title is not empty %}{{ title }} | {{ config.siteName|capitalize }}{% else %}Minicraft{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url('assets', 'css/style.css') }}">
    <link rel="icon" type="image/png" href="/favicon.png">
    <!-- HTML5 shiv -->
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    
    <div class="container">
    
      <div class="row">
      
        <div class="col-md-12">
          
          {% include 'includes/flash.twig' %}
          
          {% if manager is defined and manager is not empty %}
          {% for server in manager.servers|slice(0, 10) %}
          <div class="well">
            <p>{{ server.name }}</p>
            <p><code>{{ server.ip }}</code></p>
            <p><code>{{ server.version }}</code></p>
            <p><code>{{ server.infos.port }}</code></p>
            {% if server.motd is defined and server.motd is not empty %}
            <p class="text-success">Server is online</p>
            <p>{{ server.motd }}</p>
            {% else %}
            <p class="text-danger">Server is offline</p>
            {% endif %}
            {% if server.infos.players is not empty %}
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{ server.infos.players|length }}" aria-valuemin="0" aria-valuemax="{{ server.infos.maxPlayers }}" style="width: {{ (server.infos.players|length/server.infos.maxPlayers)*100 }}%;">
                <span class="sr-only">{{ server.infos.players|length }} players online</span>
              </div>
            </div>
            {% else %}
            No player online
            {% endif %}
            
            <a href="{{ url('action', 'servers', 'edit-server') }}-{{ server.id }}" class="btn btn-default">Edit</a>
            <button class="btn btn-danger" data-toggle="modal" data-target="#modal-{{server.id}}">
              Remove
            </button>
          </div>
          
          
          <!-- Modal -->
          <div id="modal-{{server.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                  Sure? Remove {{ server.name }}?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <form method="post" action="">
                    <input type="hidden" name="remove-server" value="{{server.id}}">
                    <button type="submit" class="btn btn-primary">Remove</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          
          
          
          <hr>
          {% endfor %}
          {% else %}
          <p>No server…</p>
          {% endif %}
          
          
          <p><a href="{{ url('action', 'servers', 'add') }}">Add server</a></p>
          
        
        </div>  <!-- /.col-md-12 -->
      
      </div> <!-- /.row -->
    
    </div> <!-- /.container -->

    <!-- Javascript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </body>
</html>
