{% extends 'includes/store_layout.twig' %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ url('assets', 'js/select2/select2.css') }}">
<link rel="stylesheet" href="{{ url('assets', 'js/select2/select2-bootstrap.css') }}">
{% endblock %}
{% block content %}
<div class="container">
  {% include 'includes/flash.twig' %}
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <ol class="breadcrumb">
        <li><a href="{{ url('admin') }}">{{ lang('ADMIN_PANEL') }}</a></li>
        <li><a href="{{ url('manage', 'store') }}">{{ lang('ADMIN_STORE') }}</a></li>
        <li class="active">{{ lang('EDIT_PACK') }}</li>
      </ol>
      <form role="form" method="post" action="{{ currentUri }}">
        <div class="form-group">
          <label for="pack-name">{{ lang('PACK_NAME') }}</label>
          <input type="text" name="edit-pack[name]" id="pack-name" class="form-control" value="{{ pack.name }}">
        </div>
        <div class="form-group">
          <label for="pack-image">{{ lang('PACK_IMAGE') }}</label>
          <input type="url" name="edit-pack[image]" id="pack-image" class="form-control" value="{{ pack.image }}">
        </div>
        <div class="form-group">
          <label for="pack-description">{{ lang('PACK_DESCRIPTION') }}</label>
          <input type="text" name="edit-pack[description]" id="pack-description" class="form-control" value="{{ pack.description }}">
        </div>
        <div class="form-group">
          <label for="pack-price">{{ lang('PACK_PRICE') }}</label>
          <input type="number" name="edit-pack[price]" id="pack-price" class="form-control" value="{{ pack.price }}">
        </div>
        <div class="form-group">
          <label for="pack-category">{{ lang('PACK_CATEGORY') }}</label>
          <select name="edit-pack[category]" id="pack-category" class="form-control">
            {% for category in categories %}
            <option value="{{ category.id }}" {% if category.id == pack.category.id %}selected{% endif %}>{{ category.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="pack-items">{{ lang('PACK_ITEMS') }}</label>
          <select name="items[]" id="pack-items" class="form-control" multiple>
            {% for item in items %}
            <option value="{{ item.id }}"{% if item.id in pack.storeItems %} selected{% endif %}>{{ item.minecraftName }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="pack-commands">{{ lang('PACK_COMMANDS') }}</label>
          <select name="commands[]" id="pack-commands" class="form-control" multiple>
            {% for command in commands %}
            <option value="{{ command.id }}"{% if command.id in pack.storeCommands %} selected{% endif %}>{{ command.command }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="pack-ranks">{{ lang('PACK_RANKS') }}</label>
          <select name="ranks[]" id="pack-ranks" class="form-control" multiple>
            {% for rank in ranks %}
            <option value="{{ rank.id }}"{% if rank.id in pack.ranks %} selected{% endif %}>{{ rank.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="pack-server">{{ lang('SERVER') }}</label>
          <input type="text" name="edit-pack[server]" id="pack-server" class="form-control" value="{{ pack.server }}">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-lg btn-block btn-primary">{{ lang('BTN_SAVE') }}</button>
        </div>
      </form>
    </div> <!-- .col-md-6 -->
  </div> <!-- .row -->
</div> <!-- .container -->
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="{{ url('assets', 'js/select2/select2.js') }}"></script>
<script src="{{ url('assets', 'js/select2/select2_locale_' ~ config.language ~ '.js') }}"></script>
<script>$(document).ready(function(){$("#pack-category").select2();$("#pack-items").select2();$("#pack-commands").select2();$("#pack-ranks").select2();$("#pack-server").select2()})</script>
{% endblock %}