{% extends 'includes/blog_layout.twig' %}
{% block content %}
<div class="container">
  {% include 'includes/flash.twig' %}
  <div class="row">
    <section class="col-md-12">
      <ol class="breadcrumb">
        <li><a href="{{ url('admin') }}">{{ lang('ADMIN_PANEL') }}</a></li>
        <li class="active">{{ lang('ADMIN_BLOG') }}</li>
      </ol>
      {% if blog.articles is not empty %}
      <div class="table-responsive">
        <table class="table table-hover table-striped table-bordered">
          <tr>
            <th>{{ lang('TITLE') }}</th>
            <th>{{ lang('AUTHOR') }}</th>
            <th>{{ lang('PUBLICATION') }}</th>
            <th>{{ lang('BTN_EDIT') }}</th>
            <th>{{ lang('BTN_REMOVE') }}</th>
          </tr>
          {% for article in blog.articles|sort %}
          <tr>
            <td><a href="{{ url('article', article.id, article.slug) }}" class="fancy-link">{{ article.title }}</a></td>
            <td>{{ article.author.username }}</td>
            <td><time datetime="{{ article.publicationDate|date('Y-m-d\\TH:i:sP') }}">{{ article.publicationDate|date('F j, Y') }}</time></td>
            <td><a href="{{ url('action', 'blog', 'edit-article') ~ '-' ~ article.id  }}" class="btn btn-default">{{ lang('BTN_EDIT') }}</a></td>
            <td><button class="btn btn-danger" data-toggle="modal" data-target="{{ '#modal-' ~ article.id }}">{{ lang('BTN_REMOVE') }}</button></td>
          </tr>
          {% endfor %}
        </table>
      </div> <!-- .table-responsive -->
      {% else %}
      <p>{{ lang('NO_ARTICLE') }}</p>
      {% endif %}
      {% if blog.articles is not empty %}
      {% for article in blog.articles|sort %}
      <div id="{{ 'modal-' ~ article.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="{{ 'label-' ~ article.id}}" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
              <h4 class="modal-title" id="{{ 'label-' ~ article.id}}">{{ lang('REMOVE_ARTICLE') }}</h4>
            </div>
            <div class="modal-body">{{ lang('REMOVE_CONFIRMATION', article.title)|raw }}</div>
            <div class="modal-footer">
              <form method="post" action="{{ url('manage', 'blog') }}" class="form-inline">
                <input type="hidden" name="remove-article" value="{{ article.id }}">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ lang('BTN_CLOSE') }}</button>
                <button type="submit" class="btn btn-danger">{{ lang('BTN_REMOVE') }}</button>
              </form>
            </div> <!-- .modal-footer -->
          </div> <!-- .modal-content -->
        </div> <!-- .modal-dialog -->
      </div> <!-- #modal -->
      {% endfor %}
      {% endif %}
      <a href="{{ url('action', 'blog', 'write') }}" class="btn btn-block btn-lg btn-primary">{{ lang('BTN_WRITE_ARTICLE') }}</a>
    </section>  <!-- .col-md-12 -->
  </div> <!-- .row -->
</div> <!-- .container -->
{% endblock %}