{% extends 'includes/blog_layout.twig' %}
{% block content %}
<div class="container">
  <div class="row">
    <section class="col-md-12">
      <p><a class="btn btn-default" href="{{ url('blog') }}">&larr; {{ lang('BACK_TO_BLOG') }}</a></p>
      {% include 'includes/flash.twig' %}
      {% if article is not empty %}
      <article class="box box-green">
        <div class="article-header">
          <h1 class="article-title">{{ article.title }}</h1>
          <p class="blog-article-meta"><a href="{{ url('player', article.author.username|lower) }}" class="player-link"><img src="//minotar.net/avatar/{{ article.author.minecraftUsername }}/32" width="16" class="player-avatar" alt="{{ article.author.username }}">{{ article.author.username }}</a> &mdash; {{ lang('PUBLISHED') }} <time datetime="{{ article.publicationDate|date('Y-m-d\\TH:i:sP') }}">{{ article.publicationDate|date('F j, Y') }}</time></p>
          <img src="{{ article.image }}" width="940" class="article-image img-responsive" alt="{{ article.name }}">
        </div>
        <div class="article-content">
          {{ article.body|raw }}
        </div>
      </article>
      {% if config.disqusId is not empty %}
      <div id="disqus_thread"></div>
      <script>var disqus_shortname="{{ config.disqusId }}";(function(){var e=document.createElement("script");e.type="text/javascript";e.async=true;e.src="//"+disqus_shortname+".disqus.com/embed.js";(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(e)})()</script>
      <noscript>{{ lang('ENABLE_JS_COMMENTS') }}</noscript>
      {% endif %}
      {% else %}
      {{ lang('NO_ARTICLE') }}
      {% endif %}
    </section>
  </div> <!-- .row -->
</div> <!-- .container -->
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="{{ url('assets', 'js/timeago.js') }}"></script>
<script src="{{ url('assets', 'js/timeago-locales/jquery.timeago.' ~ config.language ~ '.js') }}"></script>
<script src="{{ url('assets', 'js/timeago-locales/jquery.timeago.' ~ config.language ~ '-short.js') }}"></script>
<script>jQuery(document).ready(function(){jQuery("time").timeago()})</script>
{% endblock %}