{% extends 'includes/blog_layout.twig' %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ url('assets', 'js/select2/select2.css') }}">
<link rel="stylesheet" href="{{ url('assets', 'js/select2/select2-bootstrap.css') }}">
{% endblock %}
{% block content %}
<div class="container">
  {% include 'includes/flash.twig' %}
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <ol class="breadcrumb">
        <li><a href="{{ url('admin') }}">{{ lang('ADMIN_PANEL') }}</a></li>
        <li><a href="{{ url('manage', 'blog') }}">{{ lang('ADMIN_BLOG') }}</a></li>
        <li class="active">{{ lang('ADMIN_BLOG_WRITE') }}</li>
      </ol>
      <form role="form" method="post" action="{{ currentUri }}" enctype="multipart/form-data">
        <div class="form-group">
          <label for="name">{{ lang('NAME') }}</label>
          <input id="name" class="form-control" type="text" name="name">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-block btn-lg btn-primary">{{ lang('BTN_CREATE') }}</button>
        </div>
      </form>
    </div>  <!-- .col-md-6 -->
  </div> <!-- .row -->
</div> <!-- .container -->
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="{{ url('assets', 'js/ckeditor/ckeditor.js') }}"></script>
<script>CKEDITOR.replace('category-body', {language: '{{ config.language }}'});</script>
<script src="{{ url('assets', 'js/select2/select2.js') }}"></script>
<script src="{{ url('assets', 'js/select2/select2_locale_' ~ config.language ~ '.js') }}"></script>
<script>$(document).ready(function() { $("#category-category").select2(); });</script>
{% endblock %}