{% extends 'includes/global_layout.twig' %}
{% block head %}
{{ parent() }}
<link rel="icon" type="image/png" href="//minotar.net/avatar/{% if player.username is not empty %}{{player.username}}{% elseif playerInfos.name is not empty %}{{playerInfos.name}}{% else %}char{% endif %}/32">
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      {% include 'includes/flash.twig' %}    
      <div class="text-center profile">
        <img src="//minotar.net/avatar/{% if player.username is not empty %}{{player.username}}{% elseif playerInfos.name is not empty %}{{playerInfos.name}}{% else %}char{% endif %}/32" alt="{% if player.username is not empty %}{{player.username}}{% elseif playerInfos.name is not empty %}{{playerInfos.name}}{% else %}char{% endif %}" class="blur-fix" width="256">
        <h1 class="fancy-username">{% if player.username is not empty %}{{player.username}}{% else %}{{ lang('UNKOWN_PLAYER') }}{% endif %}</h1>
        <hr>
        {% if player %}
        <dl class="dl-horizontal">
          <dt>{{ lang('CITY') ~ lang('COLON') }}</dt>
          <dd>{{ player.city }}</dd>
          <dt>{{ lang('RANK') ~ lang('COLON') }}</dt>
          <dd>{{ player.rank.name }}</dd>
          {% if playerInfos %}
          <dt>{{ lang('ARRIVED_HERE') ~ lang('COLON') }}</dt>
          <dd><time class="timeago" datetime="{{ playerInfos.firstPlayed|date('Y-m-d\\TH:i:sP') }}">{{ playerInfos.firstPlayed|date('F j, Y') }}</time></dd>
          {% endif %}  
        </dl>
        {% endif %}     
      </div>
    </div> <!-- .col-md-6 -->
  </div> <!-- .row -->
</div> <!-- .container -->
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.0/jquery.timeago.min.js"></script>
<script>jQuery(document).ready(function(){jQuery("time.timeago").timeago()})</script>
{% endblock %}