{% extends 'includes/global_layout.twig' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><a href="{{ url('admin') }}">{{ lang('ADMIN_PANEL') }}</a></li>
        <li class="active">{{ lang('ADMIN_SERVERS') }}</li>
      </ol>
      {% include 'includes/flash.twig' %}  
      {% if manager is not empty %}
      {% for server in manager.servers %}
      <div class="well">
        <p>{{ server.name }}</p>
        <p><code>{{ server.ip }}</code></p>
        <p><code>{{ server.version }}</code></p>
        <p><code>{{ server.infos.port }}</code></p>
        {% if server.motd is not empty %}
        <p class="text-success">{{ lang('ONLINE') }}</p>
        <p>{{ server.motd }}</p>
        {% else %}
        <p class="text-danger">{{ lang('OFFLINE') }}</p>
        {% endif %}
        {% if server.infos.players is not empty %}
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{ server.infos.players|length }}" aria-valuemin="0" aria-valuemax="{{ server.infos.maxPlayers }}" style="width: {{ (server.infos.players|length/server.infos.maxPlayers) * 100 }}%;">
            <span class="sr-only">{{ lang('PLAYERS_ONLINE', server.infos.players|length) }}</span>
          </div>
        </div>
        {% else %}
        {{ lang('NO_PLAYER_ONLINE') }}
        {% endif %}
        <a href="{{ url('action', 'servers', 'edit-server') }}-{{ server.id }}" class="btn btn-default">{{ lang('BTN_EDIT') }}</a>
        <button class="btn btn-danger" data-toggle="modal" data-target="#modal-{{server.id }}">{{ lang('BTN_REMOVE') }}</button>
      </div>
      <div id="{{ 'modal-' ~ server.id }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="{{ 'label-' ~ server.id }}" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
              <h4 id="{{ 'label-' ~ server.id }}" class="modal-title">{{ lang('REMOVE_SERVER') }}</h4>
            </div>
            <div class="modal-body">{{ lang('REMOVE_CONFIRMATION', server.name)|raw }}</div>
            <div class="modal-footer">
              <form method="post" action="{{ currentUri }}" class="form-inline">
                <input type="hidden" name="remove-server" value="{{ server.id }}">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ lang('BTN_CLOSE') }}</button>
                <button type="submit" class="btn btn-danger">{{ lang('BTN_REMOVE') }}</button>
              </form>
            </div> <!-- .modal-footer -->
          </div> <!-- .modal-content -->
        </div> <!-- .modal-dialog -->
      </div> <!-- #modal -->
      <hr>
      {% endfor %}
      {% else %}
      <p>{{ lang('NO_SERVER') }}</p>
      {% endif %}
      <p><a class="btn btn-default" href="{{ url('action', 'servers', 'add') }}">{{ lang('ADD_SERVER') }}</a></p>
    </div> <!-- .col-md-12 -->
  </div> <!-- .row -->
</div> <!-- .container -->
{% endblock %}