{% extends 'includes/global_layout.twig' %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ url('assets', 'js/select2/select2.css') }}">
<link rel="stylesheet" href="{{ url('assets', 'js/select2/select2-bootstrap.css') }}">
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">  
      {% include 'includes/flash.twig' %}  
      <div class="text-center profile-header">
        <img src="//minotar.net/avatar/{{ user.minecraftUsername }}/32" width="256" class="blur-fix" alt="{{ user.minecraftUsername }}" />
        <h1 class="fancy-username">{{ user.username }}</h1>
        <hr>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ lang('USER_INFOS') }}</h3>
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>{{ config.currencyName.plural|capitalize }}</dt>
            <dd>{{ user.money }}</dd>
            <dt>{{ lang('VOTES_THIS_WEEK') }}</dt>
            <dd>{{ user.votes }}</dd>
            <dt>{{ lang('TOTAL_VOTES') }}</dt>
            <dd>{{ user.totalVotes }}</dd>
            <dt>{{ lang('RANK') }}</dt>
            <dd>{{ user.rank.name }}</dd>
            <dt>{{ lang('REGISTER_DATE') }}</dt>
            <dd>{{ user.registerDate|date('d-m-Y') }}</dd>
          </dl>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ lang('ACCOUNT_INFOS') }}</h3>
        </div>
        <div class="panel-body">
          <form method="post" action="{{ url('profile') }}">
            <div class="form-group{% if handler.errors.username %} has-error{% endif %}">
              <label class="control-label" for="username">{{ lang('USERNAME') }}</label>
              <input id="username" class="form-control" type="text" name="profile[username]" value="{{ user.username }}"{% if user.confirmed is empty %} disabled{% endif %}>
              {% if user.confirmed is empty %}<span class="help-block">{{ lang('CONFIRM_EMAIL_EDIT_USERNAME') }}</span>{% endif %}
              {% if handler.errors.username %}<span class="help-block">{{ handler.errorMessages.username }}</span>{% endif %}
            </div>
            <div class="form-group{% if handler.errors.password %} has-error{% endif %}">
              <label class="control-label" for="password">{{ lang('PASSWORD') }}</label>
              <input id="password" class="form-control" type="password" name="profile[password]"{% if user.confirmed is empty %} disabled{% endif %}>
              {% if user.confirmed is empty %}<span class="help-block">{{ lang('CONFIRM_EMAIL_EDIT_PASSWORD') }}</span>{% else %}<span class="help-block">{{ lang('LEAVE_EMPTY_NO_CHANGE_PASSWORD') }}</span>{% endif %}
              {% if handler.errors.password %}<span class="help-block">{{ handler.errorMessages.password }}</span>{% endif %}
            </div>
            <div class="form-group{% if handler.errors.email %} has-error{% endif %}">
              <label class="control-label" for="email">{{ lang('EMAIL') }}</label>
              <input id="email" class="form-control" type="email" name="profile[email]" value="{{ user.email }}">
              {% if handler.errors.email %}<span class="help-block">{{ handler.errorMessages.email }}</span>{% endif %}
            </div>
            <button type="submit" class="btn btn-block btn-primary">{{ lang('BTN_SAVE') }}</button>
          </form>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ lang('GENERAL_INFOS') }}</h3>
        </div>
        <div class="panel-body">
          <form method="post" action="{{ url('profile') }}">
            <div class="form-group{% if handler.errors.genre %} has-error{% endif %}">
              <label class="control-label" for="genre">{{ lang('GENRE') }}</label>
              <select id="genre" class="form-control" name="profile[genre]">
                <option value="unspecified"{% if user.genre == 'unspecified' %} selected{% endif %}>{{ lang('UNSPECIFIED') }}</option>
                <option value="female"{% if user.genre == 'female' %} selected{% endif %}>{{ lang('FEMALE') }}</option>
                <option value="male"{% if user.genre == 'male' %} selected{% endif %}>{{ lang('MALE') }}</option>
              </select>
              {% if handler.errors.genre %}<span class="help-block">{{ handler.errorMessages.genre }}</span>{% endif %}
            </div>
            <div class="form-group">
              <label class="control-label" for="birthdate">{{ lang('BIRTHDATE') }}</label>
              <input id="birthdate" class="form-control" type="date" name="profile[birthdate]" placeholder="{{ lang('BIRTHDATE_PLACEHOLDER') }}"{% if user.birthdate is not empty %} value="{{ user.birthdate|date('d-m-Y') }}"{% endif %}>
            </div>
            <div class="form-group">
              <label class="control-label" for="country">{{ lang('COUNTRY') }}</label>
              <select id="country" class="form-control" name="profile[country]">
                <optgroup>
                  {% for code, name in config.topCountries %}
                  <option value="{{ code }}"{% if user.country == code %} selected{% endif %}>{{ name }}</option>
                  {% endfor %}
                </optgroup>
                <optgroup>
                  {% for code, name in countries %}
                  <option value="{{ code }}"{% if user.country == code %} selected{% endif %}>{{ name }}</option>
                  {% endfor %}
                </optgroup>
              </select>
            </div>
            <div class="form-group">
              <label class="control-label" for="city">{{ lang('CITY') }}</label>
              <input id="city" class="form-control" type="text" name="profile[city]" value="{{ user.city }}">
            </div>
            <button type="submit" class="btn btn-block btn-primary">{{ lang('BTN_SAVE') }}</button>
          </form>
        </div> <!-- .panel-body -->
      </div> <!-- .panel -->
    </div> <!-- .col-md-6 -->
  </div> <!-- .row -->
</div> <!-- .container -->
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="{{ url('assets', 'js/select2/select2.js') }}"></script>
<script src="{{ url('assets', 'js/select2/select2_locale_' ~ config.language ~ '.js') }}"></script>
<script>function format(e){if(!e.id)return e.text;return'<img class="flag" src="//cdn.ticraft.fr/flag?cc='+e.id.toLowerCase()+'&retina" height="17">'+e.text}$("#country").select2({width:"resolve",formatResult:format,formatSelection:format,escapeMarkup:function(e){return e}})</script>
<script>$(document).ready(function() { $("#genre").select2(); });</script>
<script>$(function(){$("#birthdate").datepicker({defaultDate:"-14Y",maxDate:"-5Y",dateFormat:"dd-mm-yy",changeMonth:true,changeYear:true})})</script>
{% endblock %}