{% extends 'includes/global_layout.twig' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      {% include 'includes/flash.twig' %}
      {% if manager is not empty %}
      {% for server in manager.servers %}
      <div class="box box-blue">
        <div class="row">
          <div class="col-md-4">
            <p><code>{{ server.ip  }}</code></p>
            {% if server.motd is not empty %}
            <p class="text-success">{{ lang('ONLINE') }}</p>
            {% else %}
            <p class="text-danger">{{ lang('OFFLINE') }}</p>
            {% endif %}
            {% if server.infos.players is empty %}
            <p>{{ lang('NO_PLAYER_ONLINE') }}</p>
            {% endif %}
          </div>
          <div class="col-md-8">
            {% if server.infos.players is not empty %}
            {% for player in server.infos.players|slice(0, 100) %}
            <img class="username-tooltip" src="//minotar.net/avatar/{{ player.name }}/64" width="32" alt="{{ player.name }}" title="{{ player.name }}">
            {% endfor %}
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {% if server.console is not empty %}
            <pre class="pre-scrollable scroll-bottom">
              {% for console in server.console %}
              {{ console.line|trim }}
              {% endfor %}
            </pre>
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {% if server.chat is not empty %}
            <pre class="pre-scrollable scroll-bottom" style="color: #fff;">
              {% for chat in server.chat %}
              <p>[{{ chat.time|date('H:i:s') }}]: {{ chat(chat.line)|raw }}</p>
              {% endfor %}
            </pre>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <p><a href="{{ url('action', 'servers', 'add') }}" class="btn btn-block btn-lg btn-primary">{{ lang('ADD_SERVER') }}</a></p>
      {% endif %}
      <div class="box">
        <ul class="nav nav-pills nav-justified">
          <li><a href="{{ url('manage', 'users') }}">{{ lang('MANAGE_USERS') }}</a></li>
          <li><a href="{{ url('manage', 'ranks') }}">{{ lang('MANAGE_RANKS') }}</a></li>
          <li><a href="{{ url('manage', 'theme') }}">{{ lang('MANAGE_THEME') }}</a></li>
          <li><a href="{{ url('manage', 'servers') }}">{{ lang('MANAGE_SERVERS') }}</a></li>
          <li><a href="{{ url('manage', 'votes') }}">{{ lang('MANAGE_VOTES') }}</a></li>
        </ul>
        {% if config.bundles is not empty %}
        <ul class="nav nav-pills nav-justified">
          {% for bundle in config.bundles %}
          <li><a href="{{ url('manage', bundle) }}">{{ lang('MANAGE_BUNDLE', bundle|capitalize) }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </div>  <!-- /.col-md-12 -->
  </div> <!-- /.row -->
</div> <!-- /.container -->
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>$(".username-tooltip").tooltip();</script>
<script>$(".scroll-bottom").prop({ scrollTop: $(".scroll-bottom").prop("scrollHeight") });</script>
{% endblock %}