{% extends 'includes/global_layout.twig' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">  
      <ol class="breadcrumb">
        <li><a href="{{ url('admin') }}">{{ lang('ADMIN_PANEL') }}</a></li>
        <li class="active">{{ lang('MANAGE_RANKS') }}</li>
      </ol>
      {% include 'includes/flash.twig' %}
      {% if ranks is not empty %}
      <div class="box box-orange">
        <div class="table-responsive">
          <table class="table table-hover table-striped table-bordered">
            <tr>
              <th>{{ lang('RANK_NAME') }}</th>
              <th>{{ lang('RANK_FORCE') }}</th>
              <th>{{ lang('EDIT') }}</th>
              <th>{{ lang('REMOVE') }}</th>
            </tr>
            {% for rank in ranks %}
            <tr>
              <td>{{ rank.name }}</td>
              <td>{{ rank.force }}</td>
              <td><a href="{{ url('action', 'ranks', 'edit-rank') ~ '-' ~ rank.id }}" class="btn btn-default">{{ lang('EDIT') }}</a></td>
              <td><button class="btn btn-danger" data-toggle="modal" data-target="{{ '#modal-' ~ rank.id }}">{{ lang('REMOVE') }}</button></td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
      {% else %}
      <p>{{ lang('NO_RANK') }}</p>
      {% endif %}
      {% for rank in ranks %}
      <div id="{{ 'modal-' ~ rank.id }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="{{ 'label-' ~ rank.id }}" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
              <h4 id="{{ 'label-' ~ rank.id }}" class="modal-title">{{ lang('REMOVE_RANK') }}</h4>
            </div>
            <div class="modal-body">{{ lang('REMOVE_CONFIRMATION', rank.name)|raw }}</div>
            <div class="modal-footer">
              <form method="post" action="{{ currentUri }}" class="form-inline">
                <input type="hidden" name="remove-rank" value="{{ rank.id }}">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ lang('BTN_CLOSE') }}</button>
                <button type="submit" class="btn btn-danger">{{ lang('BTN_REMOVE') }}</button>
              </form>
            </div> <!-- .modal-footer -->
          </div> <!-- .modal-content -->
        </div> <!-- .modal-dialog -->
      </div>
      {% endfor %}
      <p><a class="btn btn-default" href="{{ url('action', 'ranks', 'add') }}">{{ lang('BTN_ADD_RANK') }}</a></p>
    </div> <!-- .col-md-12 -->
  </div> <!-- .row -->
</div> <!-- .container -->
{% endblock %}